---
---
@import "{{ site.theme }}";

.page-header {

  background-image: url("/assets/images/crumpled-paper-1000x562.png");
  color: black;
  
  @include large {
    height: 200px;
  }

  @include medium {
    height: 175px;
  }

  @include small {
    height: 150px;
  }

  
}

.project-name, .project-tagline {

  font-family: 'Courier Prime', monospace;

}

.dragonruby-dispatch {
  
  position: absolute;
  width: 40%;
  top: 30px;
  right: 40px;
  
}
