---
---
@import "{{ site.theme }}";

.page-header {

  background-image: url("/assets/images/crumpled-paper-1000x562.png");
  color: black;
  
}

.project-name, .project-tagline {

  font-family: 'Courier Prime', monospace;

}

.dragonruby-dispatch {
  
  position: absolute;
  width: 40%;
  top: 10%;
  right: 5%;
  
}
