---
---
@import "{{ site.theme }}";

.page-header {
  
  position: absolute;
  top: 0px;
  left; 0px;
  background-image: url("/assets/images/drd-cover-with-mask-600x337px.png");
  background-repeat: no-repeat;
  width: 600px;
  height: 337px;
  background-color: white;
  
  /*
  @include large {
    height: 337px;
  }

  @include medium {
    height: 280px;
  }

  @include small {
    height: 260px;
  }
  */
}

p {
  
  width: 600px;
  
}

.project-name, .project-tagline {

  font-family: 'Courier Prime', monospace;

}

.dragonruby-dispatch {
  /*  
  position: absolute;
  width: 40%;
  top: 30px;
  right: 40px;
  */
}
